html{
    background-color:whitesmoke;
    color: darkgrey;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    text-shadow: 2px, 2px, 2px #ff0000;
	text-decoration: none;
}
.flexcontainer{
       display: flex;
       flex-direction: row;
    }
.flexcontainerfooter{
       display: flex;
       flex-direction: row;
       justify-content:space-between;
    }
.item{
 
/*    flex-grow: 1;*/
    padding: 10px;
}

.item-1{
margin-right: auto;
/*    background-color: white;*/
}

.item a{
   text-decoration: none;
   box-sizing: border-box;
   display: inline-block;
/*    background-color: aqua;*/
    border-color:crimson;
    border-width: thick;
}
.container{
        width: 76%;
        padding-right: 30px;
        padding-left: 30px;
        margin: 0 auto;
}

h1,h2,h3,h4{
        
        color: rgba(138, 143, 226,.8);
        text-align: right;
        text-transform: uppercase;   
}

box-sizing: border-box;

a{
    text-decoration: none;
}
header li{
    display: inline-block;
}
header li a{
    color: darkblue;
}
header li:hover{
    box-shadow: inset 0px 3px 0px #45a2da;
    color: #45a2da;
}
.alt-link{
    background-color: darkblue;
}
ul{
    background-color: whitesmoke;
    color: black;
    list-style:circle;    
}
.alt-link a{
    color: lightblue;
    font-weight: 500;
}
.words{
	   display: flex;
       flex-direction: row;
       justify-content: flex-start;
}
.words a{
	        text-decoration: none;

}
.worditem{
	justify-content: flex-end;
}
.worditem-1{
	margin-right: auto;

}
.pictures{
	   display: flex;
       flex-direction: row;
       justify-content: flex-end;
}
body{
    padding: 40px;
    margin: 20px;
    font-size: 18px;
    border: 12px hidden;
    border-radius: 25px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';
}

table{
    width: 50vw;
}
tr.even{
    background-color: whitesmoke;
}
tr:hover{
    color:red;
    background-size: contain;
    background-repeat: no-repeat;
}
button{
    border-radius: 10px;
    padding: 10px;
}
input{
    border-radius: 13px;
    border-bottom-style:solid;
        border-right-style: solid
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/*
.column3{
    width: 30vw;
    float: left;
        padding: 10px;
    margin: 10px;}

.column6{
    width: 20vw;
    float: left;
        padding: 10px;
    margin: 10px;
}
.column12{
    width: 25vw;
    float: left;
        padding: 10px;
    margin: 10px;
}
*/
image{
    text-align: center;
    border border-bottom-style: outset
    border: 20px;
    max-width: 100%;
}
.clear{
    clear: both;
    box-sizing: border-box;
    border-top: 20px;
        content: "";
    display: table;
    clear: both;
}

.hidden-small{
            display: none
}

@media screen and (min-width: 512px){
   .row{
    display: flex;
    flex-direction: column;
}
    body{
        background-color: ghostwhite;
        }
        .hidden-small
    { 
        display: block; 
    }
/*
    .item-1{
display:none;
    }
*/
}
@media screen and (min-width: 900px){
    body{
        background-color: lightgray;
    }
    
    .hidden-small
    { 
        display: block;
    }
}
@media screen and (min-width: 1240px){
    body{
        background-color: white;
        display: block;
    }
}