html{
    background-color:whitesmoke;
    color: darkgrey;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    text-shadow: 2px, 2px, 2px #ff0000;
	text-decoration: none;
}
h1,h2,h3,h4{
        margin: 0px;
        color: rgba(138, 143, 226,.8);
        text-align: right;
        text-transform: uppercase;   
	animation-name: linkhover;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

}
.flexcontainer{
       display: flex;
       flex-direction: row;
    }
.flexcontainerfooter{
       display: flex;
       flex-direction: row;
       justify-content:space-between;
    }
.item{
/*    flex-grow: 1;*/
    padding: 10px;
}

.item-1{
margin-right: auto;
/*    background-color: white;*/
}

.item a{
   text-decoration: none;
/*
   box-sizing: border-box;
   display: inline-block;
	border-style: solid;
	border-radius: 5px;
    border-color:crimson;
    border-width: thick;
	animation-name:	linkhover2;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
*/


}
.container{
        width: 76%;
        padding-right: 10px;
        padding-left: 10px;
        margin: 0 auto;
}

box-sizing: border-box;

a{
    text-decoration: none;
	
}
header li{
    display: inline-block;
}
header li a{
    color: darkblue;
}
header li:hover{
    box-shadow: inset 0px 3px 0px #45a2da;
    color: #45a2da;
}
.alt-link{
/*	background-color: darkblue;*/

}

.alt-link a{
    color: lightblue;
		padding: 4px;

    font-weight: 500;
	background-color: black;
	text-decoration: none;
   display: inline-block;
	border-style: solid;
	border-radius: 5px;
    border-color:crimson;
    border-width: thick;
	animation-name:	linkhover2;
	animation-duration: 200ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
ul{
    background-color: whitesmoke;
    color: black;
    list-style:circle;    
}
.words{
	   display: flex;
       flex-direction: row;
       justify-content: flex-start;
		align-items: center;
}
.words a{
	        text-decoration: none;

}
.worditem{
	justify-content: flex-end;
}
.worditem-1{
	margin-right: auto;

}
.pictures{
	   display: flex;
       flex-direction: row;
       justify-content: flex-end;
}
body{
    padding: 30px;
    margin: 15px;
    font-size: 18px;
    border: 12px hidden;
    border-radius: 25px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';
}

button{
    border-radius: 10px;
    padding: 10px;
}
input{
    border-radius: 13px;
    border-bottom-style:solid;
        border-right-style: solid
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

image{
    text-align: center;
    border border-bottom-style: outset
    border: 20px;
    max-width: 100%;
}
.clear{
    clear: both;
    box-sizing: border-box;
    border-top: 20px;
        content: "";
    display: table;
    clear: both;
}

table{
    width: 50vw;
}
tr.even{
    background-color: whitesmoke;
}
tr:hover{
    color:red;
    background-size: contain;
    background-repeat: no-repeat;
}
.hidden-small{
            display: none
}

@media screen and (min-width: 512px){
   .row{
    display: flex;
    flex-direction: column;
}
    body{
        background-color: ghostwhite;
        }
        .hidden-small
    { 
        display: block; 
    }
/*
    .item-1{
display:none;
    }
*/
}
@media screen and (min-width: 900px){
    body{
        background-color: lightgray;
    }
    
    .hidden-small
    { 
        display: block;
    }
}
@media screen and (min-width: 1240px){
    body{
        background-color: white;
        display: block;
    }
}
@keyframes linkhover{
	from{
		color: crimson;
	}
	to{
		color: red;

	}
}
@keyframes linkhover2{
	from{
		border-radius: 5px;
	}
	to{
		border-radius: 15px;

	}
}
/*
.abs{
	position: absolute;
	object-position: center
}
*/

.fader{
	animation-name: fade;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes fade{
	0%{
		opacity: 25;
	}
	50%{
		opacity: 100;
	}
}